$layout-prefix-cls-flex: "#{$css-prefix}-layout-flex";
$layout-prefix-cls-auto: "#{$css-prefix}-layout-auto";

.#{$layout-prefix-cls-flex} {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;

  &-content {
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}


.#{$layout-prefix-cls-auto} {

  &-header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }

  &-footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
  }
}
