// Prefix
$css-prefix             : noob;
$css-prefix-icon        : noob-icon;


// Base
$font-size-base         : 28px;
$font-size-small        : 24px;
$font-family            : "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

$base-color             : #000;
$title-color            : #2D2F46;
$content-color          : #81849F;
$remark-color           : #B2B4C6;
$assist-color           : #FCFCFC;

$line-height-base       : 1.5;
$border-radius-base     : 16px;
$border-radius-small    : 8px;


// Color
$primary-color          : #F15B5A;
$warning-color          : #FAC424;
$info-color             : #3A72EF;

$success-color          : #19be6b;
$error-color            : #ed3f14;

$link-color             : #3A72EF;
$link-hover-color       : darken($link-color, 10%);
$link-active-color      : darken($link-color, 10%);

$selected-color         : darken($link-color, 10%);


// linear-gradient
$primary-color-from     : #fb5251;
$primary-color-to       : #ff7351;


// Border color
$border-color           : #EBEBEB;


// Background color
$body-bg-color          : #f6f7f8;


// Shadow


// Button


// Cell
$cell-bg-color          : #fff;
$cell-label-color       : $title-color;

// Input


// Layout


// Spacing


// Animation


// Z-index


